<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>

<body>
<img src="https://landing-page.dmn002.com/assets/img/logo-alter-blue.svg"><br><br>

{{ block('body') }}

<br><br>

<i>
    Alter Investment S.A.<br>
    Podwale Grodzkie 5, 80-895 Gdańsk<br><br>

    Sąd Rejonowy w Gdańsku, VII Wydział Gospodarczy<br>
    KRS 0000566967, NIP 586-229-86-90, REGON 362019571<br>
    Kapitał zakładowy 696.000,00 PLN, wpłacony w całości
</i>
</body>

</html>
